<p nz-typography nzType="secondary">{{totalProducts$ | async}} items found</p>
<nz-list
  [nzLoading]="loading$ | async"
  [nzDataSource]="variants$ | async"
  nzGrid
  nzItemLayout="vertical"
>
  <nz-row [nzGutter]="[16, 16]">
    <nz-col
      nzSpan="6"
      *ngFor="let variant of variants$ | async; trackBy:trackById"
    >
      <app-dashboard-product-card [product]="variant" (click)="productClick(variant)"></app-dashboard-product-card>
    </nz-col>
  </nz-row>
  <nz-list-pagination>
    <nz-pagination
      [nzPageSize]="pageSize"
      (nzPageIndexChange)="pageChange($event)"
      [nzTotal]="totalProducts$ | async"
    ></nz-pagination>
  </nz-list-pagination>
</nz-list>
