<form nz-form nzLayout="vertical" [formGroup]="form" (ngSubmit)="search()">
  <nz-button-group>
    <button nz-button nzType="danger" type="button" (click)="dropFilters()">Drop filters</button>
  </nz-button-group>
  <nz-form-item>
    <nz-form-label>In stock >= 4</nz-form-label>
    <nz-form-control>
      <nz-switch (ngModelChange)="inStockChange($event)" ngModel [ngModelOptions]="{standalone: true}"></nz-switch>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngFor="let control of controls">
    <nz-form-label>{{getFilterName(control) | async}}</nz-form-label>
    <nz-form-control>
      <nz-select
        [formControlName]="control"
        nzMode="multiple"
        nzAllowClear
        nzShowSearch
        (nzOpenChange)="close($event)"
      >
        <nz-option
          *ngFor="let option of getFilterOptions(control)"
          [nzValue]="option.value"
          [nzLabel]="option.label"
          [nzCustomContent]="true"
          [nzDisabled]="option.disabled"
        ><span>{{option.label}}</span>
          <nz-badge [nzCount]="option.count"></nz-badge>
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</form>
