<form nz-form nzLayout="vertical" [formGroup]="form" (ngSubmit)="search()">
  <nz-button-group>
    <button nz-button nzType="primary">Search</button>
    <button nz-button nzType="danger" type="button" (click)="dropFilters()">Drop filters</button>
    <button nz-button nzType="default" type="button" [disabled]="true" (click)="updateProductsManually()">
      Manually products update
    </button>
  </nz-button-group>
  <nz-form-item *ngFor="let control of controls">
    <nz-form-label>{{getFilterName(control) | async}}</nz-form-label>
    <nz-form-control>
      <nz-select
        [formControlName]="control"
        nzMode="multiple"
        nzAllowClear
        nzShowSearch
      >
        <nz-option
          *ngFor="let option of getFilterOptions(control)"
          [nzDisabled]="option.disabled"
          [nzValue]="option.value"
          [nzLabel]="option.label"
          [nzCustomContent]="true"
        ><span>{{option.label}}</span>
          <nz-badge [nzCount]="option.count"></nz-badge>
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</form>
