<nz-row nzGutter="16">
  <nz-col nzSpan="20">
    <nz-card [nzLoading]="loading">
      <ng-template [ngIf]="!(loading)">
        <div *ngIf="showEditSwitch">
          <span>Editable </span>
          <nz-switch [ngModel]="isEdit" (ngModelChange)="changeEditMode($event)"></nz-switch>
        </div>
        <form nz-form nzLayout="vertical" [formGroup]="form">
          <nz-form-item>
            <nz-form-label>Attributes set</nz-form-label>
            <nz-form-control>
              <nz-select
                [nzOptions]="attrSets | async"
                formControlName="attr_set_id"
                nzShowSearch
                nzAllowClear
              >
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzRequired]="true">Name</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="name">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Description</nz-form-label>
            <nz-form-control>
              <textarea nz-input formControlName="desc"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-collapse formArrayName="variants">
            <nz-collapse-panel
              *ngFor="let variant of form.get('variants').value; let i = index; trackBy: trackByVariants"
              [nzHeader]="'Product variant #' + (i + 1)"
              [nzExtra]="'[Price: ' + (variant.price | number:'1.2') + ']'"
              nzActive
            >
              <app-product-variant
                [formControlName]="i"
                [isEdit]="isEdit"
              ></app-product-variant>
            </nz-collapse-panel>
          </nz-collapse>
          <nz-form-item>
            <nz-form-control nzSpan="24">
              <button nz-button nzType="dashed" class="add-button" (click)="addVariant()" [disabled]="!isEdit">
                <i nz-icon nzType="plus"></i>
                Add variant
              </button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </ng-template>
    </nz-card>

  </nz-col>
  <nz-col nzSpan="4">
    <nz-card class="actions">
      <button
        nz-button
        nzSize="large"
        nzType="primary"
        [disabled]="!isEdit || form.invalid"
        (click)="submit()"
      >Save</button>
      <button
        nz-button
        nzSize="large"
        nzType="danger"
        (click)="delete()"
        *ngIf="showEditSwitch"
      >Delete</button>
    </nz-card>
  </nz-col>
</nz-row>
