p {
  padding: 0 10px;
  margin-bottom: 0;
}

.image {
  background-size: cover;
  background-position: center;
  &:after {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

nz-table {
  td {
    padding: 0 10px !important;
    width: 100%;
  }
}

.title, .price {
  font-weight: bold;
}

.price {
  input {
    width: 60px;
  }
}

.bottom-row {
  margin-top: 1em;
  margin-bottom: 10px;
}
