<nz-card [nzHoverable]="true">
  <p class="title">{{product.name}}</p>
  <nz-row>
    <nz-col nzSpan="12">
      <div class="image"
           [ngStyle]="{
              backgroundImage: 'url(' + (image || 'https://place-hold.it/305') + ')'
           }"
      ></div>
    </nz-col>
    <nz-col nzSpan="12">
      <nz-table
        class="attrs-table"
        [nzData]="attrs"
        [nzFrontPagination]="false"
        [nzShowPagination]="false"
        [nzBordered]="true"
      >
        <thead>
        </thead>
        <tbody>
          <tr *ngFor="let attr of attrs">
            <td>{{attr.name}}</td>
            <td>{{attr.value}}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-col>
  </nz-row>
  <nz-row nzAlign="bottom" class="bottom-row">
    <nz-col nzSpan="12">
      <p class="price">
        {{product.price}} X <input nz-input type="number" [(ngModel)]="itemsCount" (click)="$event.stopPropagation()">
        ={{product.price * itemsCount}}
        <fa-icon [icon]="imgs.faRubleSign"></fa-icon>
      </p>
    </nz-col>
    <nz-col nzSpan="12">
      <nz-table
        [nzData]="stock"
        [nzFrontPagination]="false"
        [nzShowPagination]="false"
      >
        <thead>
        </thead>
        <tbody>
        <tr *ngFor="let item of stock">
          <td>{{item.name}}</td>
          <td>{{item.shippingTime}} дня</td>
          <td>{{item.count}} шт.</td>
        </tr>
        <tr>
          <td>Всего</td>
          <td></td>
          <td><b>{{product.in_stock_qty}}</b></td>
        </tr>
        </tbody>
      </nz-table>
    </nz-col>
  </nz-row>
</nz-card>
