<nz-card [nzHoverable]="true">
  <p class="title">{{product.name}} ({{product.in_stock_qty}})</p>
  <nz-row>
    <nz-col nzSpan="12">
      <div class="image"
           [ngStyle]="{
              backgroundImage: 'url(' + (image || 'https://place-hold.it/305') + ')'
           }"
      ></div>
    </nz-col>
    <nz-col nzSpan="12">
      <nz-table
        class="attrs-table"
        [nzData]="attrs"
        [nzFrontPagination]="false"
        [nzShowPagination]="false"
      >
        <thead>
        </thead>
        <tbody>
          <tr *ngFor="let attr of attrs">
            <td>{{attr.name}}</td>
            <td>{{attr.value}}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-col>
  </nz-row>
  <p class="price">
    X <input nz-input type="number" [(ngModel)]="itemsCount" (click)="$event.stopPropagation()">
    {{product.price * itemsCount}}
    <fa-icon [icon]="imgs.faRubleSign"></fa-icon>
  </p>
</nz-card>
