<ul nz-menu nzMode="inline">
  <li nz-menu-item nzMatchRouterExact>
    <a routerLink="/">
      <i nz-icon nzType="mail"></i>
      Dashboard
    </a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <a routerLink="/products">
      <i nz-icon nzType="mail"></i>
      Products
    </a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <a routerLink="/attributes">
      <i nz-icon nzType="mail"></i>
      Attributes
    </a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <a routerLink="/attr-sets">
      <i nz-icon nzType="mail"></i>
      Attribute sets
    </a>
  </li>
</ul>
